body {
  font-family: 'Hind', sans-serif;
  max-width: 100%;
  overflow-x: hidden; /* Makes Navbar not stick */
}

h1 {
  font-weight: 300;
}

h2 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 4rem;
  padding-bottom: 0.5rem;
}

hr {
  border-style: solid none none;
  border-color: #000;
  border-width: 10px;
  width: 100%;
  margin: 0;
}

.eric-logo {
  text-decoration: none;
  color: #000;
}

.eric-logo:hover {
  color: #464646;
}

/* Containers */

.red-container {
  background-color: #dc1f27;
  padding: 6rem;
}

.blue-container {
  background-color: #004b9c;
  color: #fff;
  padding: 6rem;
  text-align: right;
}

.yellow-container {
  background-color: #fecd00;
  padding: 6rem;
}

.title-container {
  padding-top: 2rem;
}

.footer-container {
  text-align: center;
  padding-top: 1.5rem;
}


/* Social Icons */

.social-icons {
  text-decoration: none;
  color: #000;
  float: right;
  padding: 1rem;

}

.social-icons:hover {
  color: #004b9c;
}

/* Animations */

.animation {
  width: 102%;
  margin: auto;
  display: block;
}

/* Home Image */

.home-image {
  width: 40%;
  margin: auto;
  display: block;
}

.home-button {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-weight: 400;
}

.home-button p {
  text-align: center;
}

.home-button:hover {
  color: #dc1f27;
}

.home-text {
  margin-bottom: 0;
  margin-top: 16px;
}

.gnome-text {
  margin-bottom: 0;
  margin-top: 16px;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;

}

/* Tour Section */

.tour-rule {
  border-style: solid none none;
  border-color: #000;
  border-width: 5px;
  width: 100%;
  margin: 0;
}

.tour-date {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 0;
}

.tour-home {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
}

.anchor-home {
  text-decoration: none;
  color: #000;
}

.anchor-home:hover {
  color: #fecd00;
}

.just-info {
  padding-bottom: 0.5rem;
}

/* Contact Section */

.contact-paragraph {
  padding-top: 1rem;
}

.contact-me {
  text-decoration: none;
  color: #000;
}

.contact-me:hover {
  color: #dc1f27;
}

/* Footer */
.teiyah-footer {
  text-decoration: none;
  color: #000;
}

.footer-names {
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.6rem;
}


/* Media */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}


/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}


/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}


/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}


/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}


/* ----------- Nexus 4 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 384px)
  and (device-height: 592px)
  and (-webkit-device-pixel-ratio: 2) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}


/* ----------- Nexus 5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 592px)
  and (-webkit-device-pixel-ratio: 3) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}


/* ----------- Nexus 6 and 6P ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 592px)
  and (-webkit-device-pixel-ratio: 4) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}

/* -------- Galaxy Fold   -------------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 280px)
  and (device-height: 653px)
  and (-webkit-device-pixel-ratio: 3) {

    h1 {
      font-weight: 300;
      font-size: 4rem;
    }

    h2 {
      font-family: 'Reenie Beanie', cursive;
      font-size: 7rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2.3rem;
    }

    .social-icons {

    }

    .tour-date {
      font-size: 2rem;

    }

    .tour-home {
      font-size: 2rem;
    }

    .footer-names {
      font-size: 4rem;
    }

}
